body {
    background-color: #2D3E40;
    color: #fff;  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .game-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
  }
  
  canvas {
    border: 4px solid #387373;
    border-radius: 8px;
    background-color: #E4F2E7;
  }
  
  .btns {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
  }
  
  button {
    background-color: #5aceb9;
    border-radius: 8px;
    border-color: #387373;
    font-family: inherit;
    margin: 0;
    padding: 5px 20px;
    width: 100px;
  }
  button:not(:last-child) {
    margin-right: 10px;
  }
  
  .info {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 80%;
    max-width: 460px;
  }
  
  p {
    display: block;
    margin: 0;
    width: 100%;
  }
  
  @media (max-width: 440px) {
    button { margin-top: 25px; }
    #up, #down { margin-left: 100%; margin-right: 100%; }
  }